/* create_join.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Changer la police pour Roboto */
    background: url('conan.jpeg') no-repeat center center fixed; /* Ajoute l'image de fond */
    background-size: cover; /* S'assure que l'image couvre toute la page */
    line-height: 2; /* Interligne de 2 */
    height: 100%;
}

.icon-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.icon-bar .icon {
    width: 32px; /* Taille de l'icône */
    height: 32px;
    cursor: pointer;
}

.container {
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh; /* Prolonge la div jusqu'en bas de la page */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Bangers', cursive; /* Utilise une police similaire avec effet */
    font-size: 4em; /* Augmente la taille du texte "POLYNAMES" */
    color: white; /* Couleur du texte principal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre pour l'effet de texture */
}

.highlight {
    color: #0072CE; /* Couleur du texte "ONLINE" */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre pour l'effet de texture */
}

button {
    background-color: #0072CE; /* Bleu du logo Polytech Dijon */
    border: none;
    padding: 15px 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    margin: 10px 0;
    border-radius: 5px; /* Ajouter des coins arrondis */
}

button:hover {
    background-color: #005BB5; /* Une teinte plus foncée du bleu pour le hover */
}

.form-section {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin: 5px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1em;
}
